  
    <ul class="nav navbar-nav">
        <li><a href="{{ path ('Home') }}"> Accueil </a></li>
        <li><a href="{{ path ('roomtarif') }}"> Les Chambres & Tarif</a></li>
        <li><a href="{{ path ('introduction') }}"> Présentation </a></li>
        <li><a href="{{ path ('gallery') }}"> Galerie</a></li>
        <li><a href="{{ path ('contacts') }}"> Contacts</a></li>
        {# ici on fait ce dernier lien pour nous permettre de changer le lien, si l'utilisateur est connecté alors on voit profil sinon on voit inscription #}
        {# il faut aller dans twigfunction pour savoir d'ou vient le connect #}
        <li><a href="{{ connect != false ? path ('profil_membre') : path ('inscription') }}">{{ connect != false ? "Profil" : "Inscription" }}</a></li>
        <li><a href="{{ connect != false ? path ('deconnexion') : path ('connexion') }}"> {{ connect != false ? "deconnexion" : "connexion" }}</a></li>
    </ul>