{% extends "layout.html.twig" %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel();
    });
</script>
{% endblock %}

{% block content %}

<div class="container">
    {% for categorie in categories %}
    <div class="row spacer" id="{{categorie.type_categorie}}" style="padding-bottom: 8em;">
        <h1 class="title">Chambre {{categorie.type_categorie}}<a type="submit" class="btn btn-default" style="font-family: 'Raleway';font-size:15px;margin-left:3em;" href="{{ path ('home') }}#reservation">Réserver!</a></h1>

        <div class="col-sm-12 col-md-12" style="margin: 1em 0; padding-top:2em;">
            <div id="{{categorie.type_categorie}}" class="carousel slide col-md-8" data-ride="carousel" style="padding=1em;">
                {% if(categorie.type_categorie == 'Standard') %}
                    <div class="carousel-inner role="listbox" ">
                        <div class="item active">
                            <img src="{{ asset('assets_front/images/photos/STD1.jpg') }}" class="img-responsive" alt="First slide">
                            </div>
                        <div class="item">
                            <img src="{{ asset('assets_front/images/photos/STD2.jpg') }}" class="img-responsive" alt="Second slide">
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets_front/images/photos/STD3.jpg') }}" class="img-responsive" alt="Third slide">
                        </div>
                        <div class="item"> 
                            <img src="{{ asset('assets_front/images/photos/STD4.jpg') }}" class="img-responsive" alt="Fourth slide">
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets_front/images/photos/STD5.jpg') }}" class="img-responsive" alt="Fifth slide">
                        </div>
                    </div>
                {% endif %}
                {% if(categorie.type_categorie == 'Superieure') %}
                <div class="carousel-inner role="listbox" ">
                    <div class="item active">
                        <img src="{{ asset('assets_front/images/photos/SUP1.jpg') }}" class="img-responsive" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUP2.jpg') }}" class="img-responsive" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUP3.jpg') }}" class="img-responsive" alt="Third slide">
                    </div>
                    <div class="item"> 
                        <img src="{{ asset('assets_front/images/photos/SUP4.jpg') }}" class="img-responsive" alt="Fourth slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUP5.jpg') }}" class="img-responsive" alt="Fifth slide">
                    </div>
                </div>
                {% endif %}
                {% if(categorie.type_categorie == 'Deluxe') %}
                <div class="carousel-inner role="listbox" ">
                    <div class="item active">
                        <img src="{{ asset('assets_front/images/photos/SUITE1.jpg') }}" class="img-responsive" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUITE2.jpg') }}" class="img-responsive" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUITE3.jpg') }}" class="img-responsive" alt="Third slide">
                    </div>
                    <div class="item"> 
                        <img src="{{ asset('assets_front/images/photos/SUITE4.jpg') }}" class="img-responsive" alt="Fourth slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUITE5.jpg') }}" class="img-responsive" alt="Fifth slide">
                    </div>
                </div>
                {% endif %}
                <a class="left carousel-control" href="#{{categorie.type_categorie}}" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="sr-only">Previous</i>
                </a> 
                <a class="right carousel-control" href="#{{categorie.type_categorie}}" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="sr-only">Next</i>
                </a>
            </div>
            <div class="room-features">
                <div class="col-sm-3 col-md-2">
                    <div class="size-price" style="padding: 0.5em 0; height: 6em; line-height: 2em;">Superficie<span>{{categorie.Surface_min}} m²</span></div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="size-price" style="padding: 0.5em 0; height: 6em; line-height: 2em;">
                        Prix (à partir de)<span>{{categorie.Prix_min}} €</span>
                    </div>
                </div>        
                <div class="col-sm-12 col-md-4 amenitites">
                    <br>
                    <br>
                    <h3>Prestations</h3>
                    <ul>
                        <li><strong>Équipements en chambre : </strong>Coffre-fort, Climatisation, Bureau, Chauffage, Armoire / penderie, Lits enfant/berceaux.</li>
                        <li><strong>Salle de bains : </strong>Douche, Sèche-cheveux, Articles de toilette gratuits, Toilettes, Papier toilette.</li>
                        <li><strong>High-tech : </strong>Télévision, Téléphone, Chaînes satellite, Télévision à écran plat, Routeur Wi-Fi portable.</li>
                        <li><strong>Services/Extras : </strong>Service de réveil, Serviettes, Réservation de taxis et de restaurants.</li>
                        <li><strong>Wifi gratuit! </strong></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12" style="margin: 1em 0; padding-top:2em;">
            <p>{{categorie.Descriptif}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
