{% extends "layout_admin.html.twig" %}

{% block content %}
    
    <h3 class="text-center">Gestion des chambres</h3><br>

        {% if error is defined %}
            <p>{{ error|nl2br }}</p>
        {% endif %}

        {% if errornb is defined %}
            <p>{{ errornb|nl2br }}</p>
        {% endif %}


    {# sachant que c'est un tableau multidimentionnel il faut que je fasse 2 boucles for pour afficher mes informations #}
    <table class="table">
        <tr>
            <th>Numero chambre</th>
            <th>Categorie</th>
            <th>Capacite</th>
            <th>Telephone</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Modification</th>
            <th>Suppression</th>
        </tr>

        {% for chambre in chambres %}
            <tr>
                <td>{{chambre.numero_chambre}}</td>
                <td>{{chambre.Categorie}}</td>
                <td>{{chambre.capacite}}</td>
                <td>{{chambre.telephone}}</td>
                <td>{{chambre.prix}}</td>
                <td>{{chambre.statut}}</td>
                <td><a href="{{  path('modif_chambre', {id_chambres: chambre.id_chambres}) }}"><span class="glyphicon glyphicon-pencil alignement"</span></a></td>
                <td><a href="{{  path('suppression', {id_chambres: chambre.id_chambres}) }}"><span class="glyphicon glyphicon-trash alignement"</span></a></td>
            </tr>

        {% endfor %}
        
    </table>

    <hr>

    <h2 class="text-center">Ajouter une chambre</h2>

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="numchambre" class="control-label">Numéro de la chambre</label>
            <div>
                <input type="text" class="form-control" id="numchambre" name="numero_chambre" placeholder ="12">
            </div>
        </div>

        <div class="form-group">
            <label for="categorie" class="control-label">Categorie</label>
            <select id="categorie" class="form-control" name="id_categorie">
            
                {% for categorie in categories %}
                    <option value="{{ categorie.id_categorie}}">{{ categorie.type_categorie}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="capacite" class="control-label">Capacite</label>
            <select id="capacite" class="form-control" name="id_capacite">
                {% for capacite in capacites %}
                    <option value="{{ capacite.id_capacite}}">{{ capacite.capacite}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label for="telephone" class="control-label">Telephone</label>
            <div>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder ="0102030405">
            </div>
        </div>

        <div class="form-group">
            <label for="prix" class="control-label">Prix</label>
            <div>
                <input type="text" class="form-control" id="prix" name="prix" placeholder ="300">
            </div>
        </div>

        <div>
        <button type="submit" class="btn btn-primary col-sm-12 btn_chambre">Ajouter une chambre</button>
        </div>
    </form>


{% endblock %}
