{% extends "layout.html.twig" %}

{% block navProfil %}
<div class="container"style="min-height: 39em; padding-top: 2em;">
{% if connect != false %}
    <div class="navbar_profil col-md-4 infoProfil">
        <ul class="navbar">
            <li><a href="{{ path ('profil_membre') }}">Mes Informations</a></li>
            <li><a href="{{ path ('reservation') }}">Mes Réservations</a></li>
            <li><a href="{{ path ('modificationInfos') }}">Modification du profil</a></li>
            <li><a href="{{ path ('modificationMdp') }}">Modification du mot de passe</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}

{% block infoProfil %}
    <div class="col-md-offset-1 col-md-6 infoProfil">
        <form method="post">
        
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" value="{{ prenom }}" class="taille_form">
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" value="{{ nom }}" class="taille_form">
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" value="{{ telephone }}"class="taille_form">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ email }}"class="taille_form">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" name="adresse" value="{{ adresse }}"class="taille_form">
            </div>
            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" class="form-control" id="ville" name="ville" value="{{ ville }}"class="taille_form">
            </div>
            <div class="form-group">
                <label for="code_postal">Code postal</label>
                <input type="text" class="form-control" id="code_postal" name="code_postal" value="{{ code_postal }}"class="taille_form">
            </div>            
            <button type="submit" class="btn btn-default col-md-12">Modifier</button>
        </form>

        {% if error is defined %}
            
                <p>{{ error|nl2br }}</p>
            <hr>
        {% endif %}
        

        {% if msgmodif is defined %}
            <hr>
                {{ msgmodif }}
            <hr>
        {% endif %}

    </div>


</div>
{% endblock %}
