{% extends "layout.html.twig" %}


{% block navProfil %}
<div class="container"style="min-height: 39em; padding-top: 2em;">
{% if connect != false %}
    <div class="navbar_profil col-md-4 infoProfil">
        <ul class="navbar">
            <li><a href="{{ path ('profil_membre') }}">Mes Informations</a></li>
            <li><a href="{{ path ('reservation') }}">Mes Réservations</a></li>
            <li><a href="{{ path ('modificationInfos') }}">Modification du profil</a></li>
            <li><a href="{{ path ('modificationMdp') }}">Modification du mot de passe</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}

{% block infoProfil %}
    <div class="col-md-offset-1 col-md-6 text-center infoProfil">
        {# affichage des infos de mon utilisateur #}
        <h3 style="color : #bfa145">Mes informations</h3>
        <hr>
        <div class="row">
            <div class="col-md-5">Qui suis-je ?</div>
            <div class="col-md-7" style="font-style:italic">
                prenom : {{ prenom }} <br>
                nom : {{ nom }} <br>
            </div>
        </div>
        <hr>
        <div class="row">  
            <div class="col-md-5">Me contacter</div>
            <div class="col-md-7" style="font-style:italic">
                telephone : {{ telephone }} <br>
                email : {{ email }} <br>
            </div>
        </div>
        <hr>
        <div class="row">  
            <div class="col-md-5">Mon adresse</div>
            <div class="col-md-7" style="font-style:italic">
                adresse : {{ adresse }} <br>
                ville : {{ ville }} <br>
                code postal : {{ code_postal }} <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
