{% extends "layout.html.twig" %}

{% block content %}
    
<!-- banner -->
<div class="banner">    	   
    <img src="{{ asset('assets_front/images/photos/darkbanner4.jpg ') }}"  class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information" style="padding-top: 10em;">
                <h1  class="animated fadeInDown">Hôtel Grands Voisins</h1>
                <p class="animated fadeInUp">Paris Rive Gauche. Le luxe en trois mois et demi</p>                
            </div>
            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
<!-- banner-->

<!-- reservation-information -->
<div id="information" class="spacer reserve-info ">
    <div class="container">
        <div class="row">
{# <div class="col-sm-7 col-md-8">
    <div class="embed-responsive embed-responsive-16by9 wowload fadeInLeft"><iframe  class="embed-responsive-item" src="//player.vimeo.com/video/55057393?title=0" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
</div> #}
            <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3" id="reservation">         <h2 style="text-align:center;">#Réservation</h2>
                   

                {% if reserv_error is defined and reserv_error is not empty %}
                    <div class='alert alert-danger' > {{ reserv_error }} </div>
                {% endif %}
                 <h4 class="text-center clearfix">Vos identifiants</h4>
                <form role="form" class="wowload fadeInRight" method="post">
                    <input type="hidden" name="user_id" value="{% if id_user is defined %}{{ id_user }} {% endif %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nom" placeholder="Nom" value="{% if nom is defined %}{{ nom }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="prenom" placeholder="Prénom" value="{% if prenom is defined %}{{ prenom }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="E-mail" value="{% if email is defined %}{{ email }}{% endif %}">
                    </div>        
                    <hr></hr>
                    <div class="form-group">
                        <h4 class="text-center">Votre chambre</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <select class="form-control" name="id_categorie1">
                                    <option value="0" {% if categorie is not defined %}selected="selected"{% endif %}>Catégorie de chambre</option>
                                    <option value="1" {% if categorie is defined and categorie == '1' %}selected="selected"{% endif %}>Standard</option>
                                    <option value="2" {% if categorie is defined and categorie == '2' %} selected="selected"{% endif %}>Supérieure</option>
                                    <option value="3" {% if categorie is defined and categorie == '3' %}selected="selected"{% endif %}>Luxe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">        
                            <div class="col-xs-12">
                                <select class="form-control" name="nb_personne1">
                                    <option value="0" {% if nbPersonne is not defined %}selected="selected"{% endif %}>
                                        Nombre de personne(s)
                                    </option>
                                    <option {% if nbPersonne is defined and nbPersonne == '1' %}selected="selected"{% endif %}>
                                        1
                                    </option>
                                    <option {% if nbPersonne is defined and nbPersonne == '2' %}selected="selected"{% endif %}>
                                        2
                                    </option>
                                    <option {% if nbPersonne is defined and nbPersonne == '3' %}selected="selected"{% endif %}>
                                        3
                                    </option>
                                    <option {% if nbPersonne is defined and nbPersonne == '4' %}selected="selected"{% endif %}>
                                        4
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <p>Date d'arrivée :</p>
                                <input type="date" class="form-control" name="date_debut1" {% if date_debut is defined%}value="{{ date_debut }}"{% endif %} >
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <p>Date de départ :</p>
                                <input type="date" class="form-control" name="date_fin1" {% if date_fin is defined%}value="{{ date_fin }}"{% endif %}>
                            </div>
                        </div>
                    </div>

                    <hr></hr>
                    <div class="form-group" id="resaServices">
                        <h4 class="text-center">Services souhaités</h4>
                        {% for index in listService %}
                        {# {{ dump(index) }}  #}
                        <input type="checkbox" name="idserv[]" value="{{index.id_services}}">{{ index.nom_service}} ({{ index.prix_service}} €)<br>
                    
                        {% endfor %}
                    </div>
                    <button class="btn btn-default col-xs-12 col-md-6 col-md-offset-3">Réserver</button>
                </form>    
            </div>
        </div>  
    </div>
</div>
<!-- reservation-information -->

<!-- Modifié par Sathia -->

<!-- Les Chambres -->
<div class="services wowload fadeInUp" id="Chambres">
    <div class="container">
        <h2 style="text-align:center;">#Les Chambres</h2>
        <div class="row">
            <div class="col-sm-4" id="STD" style="margin-bottom: 1.5em">
                <!-- RoomCarousel -->
                <div id="Standard" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('assets_front/images/photos/STD1.jpg') }}" class="img-responsive"" alt="slide">
                    </div>               
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/STD3.jpg') }}"  class="img-responsive"; alt="slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset  ('assets_front/images/photos/STD4.jpg') }}"  class="img-responsive"; alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#Standard" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#Standard" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- Description Chambre-->
                <div class="caption" style="padding: 1.5em 1.5em 3em 1.5em;">
                    <h4> Chambre Standard </h4>
                    <p  class="col-md-6" style="padding: 0;">A partir de 120 €</p> 
                    <button class="pull-right btn btn-default">
                        <a style="font-family: 'Raleway';font-size:15px;color:#ffff" href="{{ path('chambre_standard') }}" >
                            Voir Détails
                        </a>
                    </button>
                </div>
            </div>

            <div class="col-sm-4" id="SUP" style="margin-bottom: 1.5em">
                <!-- RoomCarousel -->
                <div id="Superieure" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('assets_front/images/photos/SUP1.jpg') }}" class="img-responsive"" alt="slide">
                    </div>               
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUP2.jpg') }}"  class="img-responsive"; alt="slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset  ('assets_front/images/photos/SUP3.jpg') }}"  class="img-responsive"; alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#Superieure" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#Superieure" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- Description Chambre-->
                <div class="caption" style="padding: 1.5em 1.5em 3em 1.5em;">
                    <h4> Chambre Supérieure </h4>
                    <p  class="col-md-6" style="padding: 0;">A partir de 150 €</p> 
                    <button class="pull-right btn btn-default">
                        <a style="font-family: 'Raleway';font-size:15px;color:#ffff" href="{{ path('chambre_superieure') }}" >
                            Voir Détails
                        </a>
                    </button>
                </div>
            </div>

            <div class="col-sm-4" id="SUITE" style="margin-bottom: 1.5em">
                <!-- RoomCarousel -->
                <div id="Deluxe" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('assets_front/images/photos/SUITE1.jpg') }}" class="img-responsive"" alt="slide">
                    </div>               
                    <div class="item">
                        <img src="{{ asset('assets_front/images/photos/SUITE2.jpg') }}"  class="img-responsive"; alt="slide">
                    </div>
                    <div class="item">
                        <img src="{{ asset  ('assets_front/images/photos/SUITE3.jpg') }}"  class="img-responsive"; alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#Deluxe" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#Deluxe" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- Description Chambre-->
                <div class="caption" style="padding: 1.5em 1.5em 3em 1.5em;">
                    <h4> Suite Deluxe </h4>
                    <p  class="col-md-6" style="padding: 0;">A partir de 180 €</p> 
                    <button class="pull-right btn btn-default">
                        <a style="font-family: 'Raleway';font-size:15px;color:#ffff" href="{{ path('chambre_luxe') }}" >
                            Voir Détails
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Les services -->
<div id="Services" class="services wowload fadeInUp" style="background-color:#ffff;">
    <div class="container">
        <h2 style="text-align:center;">#Les Services</h2>
        <div class="row">
            <div class="col-sm-3"  id="service1">
                <div class="item height-full">
                    <img src="{{ asset('assets_front/images/photos/SERV1.jpg') }}" class="img-responsive" alt="service">
                </div>
                <div class="caption" style="padding: 1em 1em 3em 1em;">
                    <h4> Petit-déjeuner en buffet</h4>
                    <p  class="col-md-7" style="padding: 0;">Des produits frais : 15 €/pers</p> 
                    <button class="pull-right btn btn-default col-md-5" style="padding: 0.5em 1em 0.5em 1em;">
                        <a style="font-family: 'Raleway'; font-size:15px;color:#ffff" href="#resaServices" >
                            Réserver!
                        </a>
                    </button>
                </div>
            </div>

            <div class="col-sm-3"  id="service2">
                <div class="item height-full">
                    <img src="{{ asset('assets_front/images/photos/SERV2.png') }}" class="img-responsive" alt="service">
                </div>
                <div class="caption" style="padding: 1em 1em 3em 1em;">
                    <h4> Blanchisserie </h4>
                    <p  class="col-md-7" style="padding: 0;">A partir de 15 €</p> 
                    <button class="pull-right btn btn-default col-md-5" style="padding: 0.5em 1em 0.5em 1em;">
                        <a style="font-family: 'Raleway'; font-size:15px;color:#ffff" href="#resaServices" >
                            Réserver!
                        </a>
                    </button>
                </div>
            </div>

            <div class="col-sm-3"  id="service3">
                <div class="item height-full">
                    <img src="{{ asset('assets_front/images/photos/SERV3.jpg') }}" class="img-responsive" alt="service">
                </div>
                <div class="caption" style="padding: 1em 1em 3em 1em;">
                    <h4> Bagagerie </h4>
                    <p  class="col-md-7" style="padding: 0;">Jour de départ ou d'arrivée : 10 €</p> 
                    <button class="pull-right btn btn-default col-md-5" style="padding: 0.5em 1em 0.5em 1em;">
                        <a style="font-family: 'Raleway'; font-size:15px;color:#ffff" href="#resaServices" >
                            Réserver!
                        </a>
                    </button>
                </div>
            </div>

            <div class="col-sm-3"  id="service4">
                <div class="item height-full">
                    <img src="{{ asset('assets_front/images/photos/SERV4.png') }}" class="img-responsive" alt="service">
                </div>
                <div class="caption" style="padding: 1em 1em 3em 1em;">
                    <h4> Parking </h4>
                    <p  class="col-md-7" style="padding: 0;">Places limitées : 15 €</p> 
                    <button class="pull-right btn btn-default col-md-5" style="padding: 0.5em 1em 0.5em 1em;">
                        <a style="font-family: 'Raleway'; font-size:15px;color:#ffff" href="#resaServices" >
                            Réserver!
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"  id="service5">
                <div class="item height-full">
                    <img src="{{ asset('assets_front/images/photos/SERV5.jpg') }}" class="img-responsive" alt="service">
                </div>
                <div class="caption" style="padding: 1em 1em 3em 1em;">
                    <h4> Conciergerie </h4>
                    <p  class="col-md-7" style="padding: 0;">Une demande particulière?</p> 
                    <button class="pull-right btn btn-default col-md-5" style="padding: 0.5em 1em 0.5em 1em;">
                        <a style="font-family: 'Raleway'; font-size:15px;color:#ffff" href="#resaServices" >
                            Réserver!
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
